
.App{
  margin-left: 10%;
  margin-top: 50px;
  width: 80%;
  min-height: 500px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(252,252,252);
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 768px) {
  .App {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 0px;
    width: 100%;
  }
}

.createSplit{
  box-shadow: 0px 0px 20px 5px rgba(120,120,120, 0.1);
  width: 45%;
  min-height: 400px;
}

@media (max-width: 768px) {
  .createSplit {
    width: 100%;
  }
}

.all{
  width:100%;
  min-height: 400px;
  margin-top:20px;
}

.bi-calendar3{
  background-color: #1b8c4b;
  padding: 2px 5px !important;
  color:#fff;
  font-size: 28px;
  border-radius: 5px;
  align-self: center;
}

.bi-check-circle-fill{
  color:#1b8c4b;
  font-size: 38px;
  align-self: center;
}

.expensedetails{
  width: 92%;
  margin-left: 4%;
}

.expenseFields{
  position: relative;
}

.nairaIcon{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:rgba(27, 140, 75) !important;
  font-size: 20px;
  width:20px;
  height:20px;
  filter: invert(0.5) sepia(1) grayscale(1) brightness(0.8) drop-shadow(0 0 2px rgba(27, 140, 75, 0.5));
}

.bi-calendar2-week-fill{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color:rgba(27, 140, 75);
  font-size: 20px;
}

.bi-1-square-fill{
  font-size: 25px;
  color: #1b8c4b;
}

.bi-2-square-fill{
  font-size: 25px;
  color: rgb(27, 140, 75);
}

.bi-3-square-fill{
  font-size: 25px;
  color: rgb(27, 140, 75);
}

.expensedetails input{
  width: 89% !important;
  border: 1px solid rgba(120,120,120, 0.4);
  outline: none;
  border-radius: 5px;
  font-size: 16px;
  height: 37px;
  padding-left: 9% !important;
}

@media (max-width: 768px) {
  .expenseFields input {
    padding-left: 12% !important;
  }
}

.splitResult{
  box-shadow: 0px 0px 20px 5px rgba(120,120,120, 0.1);
  align-self: flex-start;
  width: 45%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  /* display: none; */
}

@media (max-width: 768px) {
  .splitResult {
    width: 100%;
  }
}

.splitSumary{
  width: 94%;
  margin-left: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
}

.splitSummaryTitle{
  background-color: rgba(234, 240, 252, 0.2);
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.people{
  background-color: transparent;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  flex-direction: column;
}

.addPeople{
  background-color:rgba(211, 211, 211, 0.3);
  border-radius: 5px;
  width:288px;
  height:42px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: -8%;
  
}

.addPeople button{
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  height:40px;
  font-size: 22px;
  /* background-color: rgba(211, 211, 211, 0.3); */
  color: rgb(100,100,100);
}

.addPeople input{
  height: 38px;
  border: none;
  outline: none;
  border-radius: 7px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  /* width: 100%; */
}

.createSplit p{
  font-size: 13px;
  color: rgb(100,100,100);
}

.peopleName{
  width:100%;
  background-color: transparent;
}

.peopleName .peopleNameInput{
  width: 100%;
  position: relative
}

.peopleNameInput input{
  width: 89% !important;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 7px;
  font-size: 16px;
  height: 25px;
  padding-left: 9% !important;
}

@media (max-width: 768px) {
  .peopleNameInput input {
    width: 85% !important;
    padding-left: 13% !important;
  }
}

.peopleNameInput button{
  position: absolute;
  left: -5px;
  top: 0;
  margin-top:5px;
  border: none;
  background-color: rgba(120,120,120, 0.1);
  font-size: 18px;
  color: rgb(100,100,100);
}

.bi-person-fill{
  font-size:25px;
  color: rgba(120,120,120, 0.8);
}

.splitType{
  width:92%;
  background-color: transparent;
  margin-left: 4%;
}

.splitTypeOptions{
  width: 100%;
  min-height:80px;
  background-color: transparent;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .splitTitle{
    font-size: 10px !important;
  }

  .smallText{
    font-size: 8px !important;
  }
}

.cardContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.card {
  width: 30%;
  min-height: 80px;
  /* display: flex; */
  border: 0.5px solid rgba(120,120,120, 0.3);
  cursor: pointer;
  border-radius: 8px;
  transition: 0.2s;
  background-color: rgba(180,180,180, 0.1);
}

.cardTextSplitType{
  margin-left: 8%;
  display:flex;
  margin-top: 10px;
  column-gap: 5px;
}

.cardTextSplitType .splitTitle{
  color: #000000;
  font-weight: bold;
}

.cardTextSplitType div{
  margin-top: -8% !important;
}

.card:hover {
  border: 1.5px solid rgb(27, 140, 75);
}

.card.active {
  background: rgba(225, 242, 232);
  color: #000000;
  border-color: rgb(27, 140, 75);
}

.smallText{
  font-size: 10px !important;
  color: rgb(100,100,100);
}

.bi-percent{
  color: rgba(27, 140, 75);
  font-weight: bold;
}

.bi-diagram-3{
  color: rgba(27, 140, 75);
  font-weight: bold;
}

.bi-pen{
  color: rgba(27, 140, 75);
  font-weight: bold;
}

.createSplitButton{
  width: 92%;
  margin-left: 4%;
   margin-bottom: 30px;
}
 
.createSplitButton button{
  width: 100%;
  height: 40px;
  padding: 10px;
  background-color: rgb(27, 140, 75);
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
 
}

.addNote{
  width: 92%;
  margin-left: 4%;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

.addNote .bi-pen{
  position: absolute;
  left: 10px;
  top: 50%;
  color: rgb(70,70,70);
  transform: translateY(-50%);
  font-size: 20px;
}

.addNote .noteInput{
  width: 90%;
  height: 40px;
  border: 1px solid rgba(120,120,120, 0.4);
  outline: none;
  border-radius: 5px;
  padding-left: 9% !important;

}